

$ mkdir Fronted

ganesh.gondyala@TWINH-DES-0300 MINGW64 ~/OneDrive - TECHWAVE/डेस्कटॉप
$ cd Fronted

ganesh.gondyala@TWINH-DES-0300 MINGW64 ~/OneDrive - TECHWAVE/डेस्कटॉप/Fronted
$ git init
Initialized empty Git repository in C:/Users/ganesh.gondyala/OneDrive - TECHWAVE/डेस्कटॉप/Fronted/.git/

ganesh.gondyala@TWINH-DES-0300 MINGW64 ~/OneDrive - TECHWAVE/डेस्कटॉप/Fronted (master)
$ git remote add origin https://github.com/GaneshGondyala/Frontend.git

ganesh.gondyala@TWINH-DES-0300 MINGW64 ~/OneDrive - TECHWAVE/डेस्कटॉप/Fronted (master)
$ ls

ganesh.gondyala@TWINH-DES-0300 MINGW64 ~/OneDrive - TECHWAVE/डेस्कटॉप/Fronted (master)
$ git branch -m main

ganesh.gondyala@TWINH-DES-0300 MINGW64 ~/OneDrive - TECHWAVE/डेस्कटॉप/Fronted (main)
$ vi index.html

ganesh.gondyala@TWINH-DES-0300 MINGW64 ~/OneDrive - TECHWAVE/डेस्कटॉप/Fronted (main)
$ git add .
warning: in the working copy of 'index.html', LF will be replaced by CRLF the next time Git touches it

ganesh.gondyala@TWINH-DES-0300 MINGW64 ~/OneDrive - TECHWAVE/डेस्कटॉप/Fronted (main)
$ git status
On branch main

No commits yet

Changes to be committed:
  (use "git rm --cached <file>..." to unstage)
        new file:   index.html


ganesh.gondyala@TWINH-DES-0300 MINGW64 ~/OneDrive - TECHWAVE/डेस्कटॉप/Fronted (main)
$ git commit -m 'index.html'
[main (root-commit) fa88be6] index.html
 1 file changed, 1 insertion(+)
 create mode 100644 index.html

ganesh.gondyala@TWINH-DES-0300 MINGW64 ~/OneDrive - TECHWAVE/डेस्कटॉप/Fronted (main)
$ git push origin main
Enumerating objects: 3, done.
Counting objects: 100% (3/3), done.
Writing objects: 100% (3/3), 242 bytes | 121.00 KiB/s, done.
Total 3 (delta 0), reused 0 (delta 0), pack-reused 0 (from 0)
To https://github.com/GaneshGondyala/Frontend.git
 * [new branch]      main -> main

ganesh.gondyala@TWINH-DES-0300 MINGW64 ~/OneDrive - TECHWAVE/डेस्कटॉप/Fronted (main)
$ vi program.py

ganesh.gondyala@TWINH-DES-0300 MINGW64 ~/OneDrive - TECHWAVE/डेस्कटॉप/Fronted (main)
$ git add program.py
warning: in the working copy of 'program.py', LF will be replaced by CRLF the next time Git touches it

ganesh.gondyala@TWINH-DES-0300 MINGW64 ~/OneDrive - TECHWAVE/डेस्कटॉप/Fronted (main)
$ git commit -m 'python file added'
[main 55b4cdb] python file added
 1 file changed, 2 insertions(+)
 create mode 100644 program.py

ganesh.gondyala@TWINH-DES-0300 MINGW64 ~/OneDrive - TECHWAVE/डेस्कटॉप/Fronted (main)
$ git push origin main
Enumerating objects: 4, doneCounting objects: 100% (4/4), done.
Delta compression using up to 12 threads
Compressing objects: 100% (2/2), done.
Writing objects: 100% (3/3), 309 bytes | 154.00 KiB/s, done.
Total 3 (delta 0), reused 0 (delta 0), pack-reused 0 (from 0)
To https://github.com/GaneshGondyala/Frontend.git
   fa88be6..55b4cdb  main -> main

ganesh.gondyala@TWINH-DES-0300 MINGW64 ~/OneDrive - TECHWAVE/डेस्कटॉप/Fronted (main)
$ ls
index.html  program.py

ganesh.gondyala@TWINH-DES-0300 MINGW64 ~/OneDrive - TECHWAVE/डेस्कटॉप/Fronted (main)
$ git checkout -b dev
Switched to a new branch 'dev'

ganesh.gondyala@TWINH-DES-0300 MINGW64 ~/OneDrive - TECHWAVE/डेस्कटॉप/Fronted (dev)
$ ls
index.html  program.py

ganesh.gondyala@TWINH-DES-0300 MINGW64 ~/OneDrive - TECHWAVE/डेस्कटॉप/Fronted (dev)
$ git push origin dev
Total 0 (delta 0), reused 0 (delta 0), pack-reused 0 (from 0)
remote:
remote: Create a pull request for 'dev' on GitHub by visiting:
remote:      https://github.com/GaneshGondyala/Frontend/pull/new/dev
remote:
To https://github.com/GaneshGondyala/Frontend.git
 * [new branch]      dev -> dev

ganesh.gondyala@TWINH-DES-0300 MINGW64 ~/OneDrive - TECHWAVE/डेस्कटॉप/Fronted (dev)
$ git checkout -b prod
Switched to a new branch 'prod'

ganesh.gondyala@TWINH-DES-0300 MINGW64 ~/OneDrive - TECHWAVE/डेस्कटॉप/Fronted (prod)
$ git push origin prod
Total 0 (delta 0), reused 0 (delta 0), pack-reused 0 (from 0)
remote:
remote: Create a pull request for 'prod' on GitHub by visiting:
remote:      https://github.com/GaneshGondyala/Frontend/pull/new/prod
remote:
To https://github.com/GaneshGondyala/Frontend.git
 * [new branch]      prod -> prod

ganesh.gondyala@TWINH-DES-0300 MINGW64 ~/OneDrive - TECHWAVE/डेस्कटॉप/Fronted (prod)
$ git checkout dev
Switched to branch 'dev'

ganesh.gondyala@TWINH-DES-0300 MINGW64 ~/OneDrive - TECHWAVE/डेस्कटॉप/Fronted (dev)
$ ls
index.html  program.py

ganesh.gondyala@TWINH-DES-0300 MINGW64 ~/OneDrive - TECHWAVE/डेस्कटॉप/Fronted (dev)
$ vi index.html

ganesh.gondyala@TWINH-DES-0300 MINGW64 ~/OneDrive - TECHWAVE/डेस्कटॉप/Fronted (dev)
$ git add .
warning: in the working copy of 'index.html', LF will be replaced by CRLF the next time Git touches it

ganesh.gondyala@TWINH-DES-0300 MINGW64 ~/OneDrive - TECHWAVE/डेस्कटॉप/Fronted (dev)
$ git status
On branch dev
Changes to be committed:
  (use "git restore --staged <file>..." to unstage)
        modified:   index.html


ganesh.gondyala@TWINH-DES-0300 MINGW64 ~/OneDrive - TECHWAVE/डेस्कटॉप/Fronted (dev)
$ git commit -m "Index.html changed"
[dev 0744aa9] Index.html changed
 1 file changed, 2 insertions(+), 1 deletion(-)

ganesh.gondyala@TWINH-DES-0300 MINGW64 ~/OneDrive - TECHWAVE/डेस्कटॉप/Fronted (dev)
$ git show Head
commit 0744aa90a257f578935c36edfcb7d7ebeebe99e7 (HEAD -> dev)
Author: Ganesh <gondlyalaganesh1729@gmail.com>
Date:   Mon Jun 24 15:04:54 2024 +0530

    Index.html changed

diff --git a/index.html b/index.html
index c7ed567..18e135c 100644
--- a/index.html
+++ b/index.html
@@ -1 +1,2 @@
-<h1>I am index.html</h1>
+<h1>I am index.html </h1>
+<h2>I am h2 tag</h2>

ganesh.gondyala@TWINH-DES-0300 MINGW64 ~/OneDrive - TECHWAVE/डेस्कटॉप/Fronted (dev)
$ git log
commit 0744aa90a257f578935c36edfcb7d7ebeebe99e7 (HEAD -> dev)
Author: Ganesh <gondlyalaganesh1729@gmail.com>
Date:   Mon Jun 24 15:04:54 2024 +0530

    Index.html changed

commit 55b4cdbb2479f96ceedfbe9dec897ed6b17a9629 (origin/prod, origin/main, origin/dev, prod, main)
Author: Ganesh <gondlyalaganesh1729@gmail.com>
Date:   Mon Jun 24 14:54:20 2024 +0530

    python file added

commit fa88be6fc2d7c31e1751dbee61c1276c3cfed0bf
Author: Ganesh <gondlyalaganesh1729@gmail.com>
Date:   Mon Jun 24 14:51:03 2024 +0530

    index.html

ganesh.gondyala@TWINH-DES-0300 MINGW64 ~/OneDrive - TECHWAVE/डेस्कटॉप/Fronted (dev)
$ git show ^C

ganesh.gondyala@TWINH-DES-0300 MINGW64 ~/OneDrive - TECHWAVE/डेस्कटॉप/Fronted (dev)
$ git show 0744aa90a257f578935c36edfcb7d7ebeebe99e7
commit 0744aa90a257f578935c36edfcb7d7ebeebe99e7 (HEAD -> dev)
Author: Ganesh <gondlyalaganesh1729@gmail.com>
Date:   Mon Jun 24 15:04:54 2024 +0530

    Index.html changed

diff --git a/index.html b/index.html
index c7ed567..18e135c 100644
--- a/index.html
+++ b/index.html
@@ -1 +1,2 @@
-<h1>I am index.html</h1>
+<h1>I am index.html </h1>
+<h2>I am h2 tag</h2>

ganesh.gondyala@TWINH-DES-0300 MINGW64 ~/OneDrive - TECHWAVE/डेस्कटॉप/Fronted (dev)
$ git annotate index.html
0744aa90        (    Ganesh     2024-06-24 15:04:54 +0530       1)<h1>I am index.html </h1>
0744aa90        (    Ganesh     2024-06-24 15:04:54 +0530       2)<h2>I am h2 tag</h2>

ganesh.gondyala@TWINH-DES-0300 MINGW64 ~/OneDrive - TECHWAVE/डेस्कटॉप/Fronted (dev)
$ git diff

ganesh.gondyala@TWINH-DES-0300 MINGW64 ~/OneDrive - TECHWAVE/डेस्कटॉप/Fronted (dev)
$ vi index.html

ganesh.gondyala@TWINH-DES-0300 MINGW64 ~/OneDrive - TECHWAVE/डेस्कटॉप/Fronted (dev)
$ git diff
warning: in the working copy of 'index.html', LF will be replaced by CRLF the next time Git touches it
diff --git a/index.html b/index.html
index 18e135c..e0e4431 100644
--- a/index.html
+++ b/index.html
@@ -1,2 +1,2 @@
 <h1>I am index.html </h1>
-<h2>I am h2 tag</h2>
+<h2>I am h2 tag-1</h2>

ganesh.gondyala@TWINH-DES-0300 MINGW64 ~/OneDrive - TECHWAVE/डेस्कटॉप/Fronted (dev)
$ git diff --staged

ganesh.gondyala@TWINH-DES-0300 MINGW64 ~/OneDrive - TECHWAVE/डेस्कटॉप/Fronted (dev)
$ git diff Head
warning: in the working copy of 'index.html', LF will be replaced by CRLF the next time Git touches it
diff --git a/index.html b/index.html
index 18e135c..e0e4431 100644
--- a/index.html
+++ b/index.html
@@ -1,2 +1,2 @@
 <h1>I am index.html </h1>
-<h2>I am h2 tag</h2>
+<h2>I am h2 tag-1</h2>

ganesh.gondyala@TWINH-DES-0300 MINGW64 ~/OneDrive - TECHWAVE/डेस्कटॉप/Fronted (dev)
$ git diff ^C

ganesh.gondyala@TWINH-DES-0300 MINGW64 ~/OneDrive - TECHWAVE/डेस्कटॉप/Fronted (dev)
$ git diff fa88be6fc2d7c31e1751dbee61c1276c3cfed0bf fa88befc2d7
fatal: ambiguous argument 'fa88befc2d7': unknown revision or path not in the working tree.
Use '--' to separate paths from revisions, like this:
'git <command> [<revision>...] -- [<file>...]'

ganesh.gondyala@TWINH-DES-0300 MINGW64 ~/OneDrive - TECHWAVE/डेस्कटॉप/Fronted (dev)
$ git diff fa88be6fc2d7c31e1751dbee61c1276c3cfed0bf fa88befc2d7^C

ganesh.gondyala@TWINH-DES-0300 MINGW64 ~/OneDrive - TECHWAVE/डेस्कटॉप/Fronted (dev)
$ git diff fa88be6fc2d7c31e1751dbee61c1276c3cfed0bf 55b4cdbb2479f96ceedfbe9dec897ed6b17a9629
diff --git a/program.py b/program.py
new file mode 100644
index 0000000..7857c0b
--- /dev/null
+++ b/program.py
@@ -0,0 +1,2 @@
+print("Hello world")
+

ganesh.gondyala@TWINH-DES-0300 MINGW64 ~/OneDrive - TECHWAVE/डेस्कटॉप/Fronted (dev)
$ git pull
There is no tracking information for the current branch.
Please specify which branch you want to merge with.
See git-pull(1) for details.

    git pull <remote> <branch>

If you wish to set tracking information for this branch you can do so with:

    git branch --set-upstream-to=origin/<branch> dev


ganesh.gondyala@TWINH-DES-0300 MINGW64 ~/OneDrive - TECHWAVE/डेस्कटॉप/Fronted (dev)
$ git tag -a v1.1 ^C

ganesh.gondyala@TWINH-DES-0300 MINGW64 ~/OneDrive - TECHWAVE/डेस्कटॉप/Fronted (dev)
$ git tag -a v1.1 55b4cdbb2479f96ceedfbe9dec897ed6b17a9629 -m "added the tag v1.1"

ganesh.gondyala@TWINH-DES-0300 MINGW64 ~/OneDrive - TECHWAVE/डेस्कटॉप/Fronted (dev)
$ git restore index.html

ganesh.gondyala@TWINH-DES-0300 MINGW64 ~/OneDrive - TECHWAVE/डेस्कटॉप/Fronted (dev)
$ git restore --staged index.html

ganesh.gondyala@TWINH-DES-0300 MINGW64 ~/OneDrive - TECHWAVE/डेस्कटॉप/Fronted (dev)
$ git reset Head~
Unstaged changes after reset:
M       index.html

ganesh.gondyala@TWINH-DES-0300 MINGW64 ~/OneDrive - TECHWAVE/डेस्कटॉप/Fronted (dev)
$ git rebase Head~1
error: cannot rebase: You have unstaged changes.
error: Please commit or stash them.

ganesh.gondyala@TWINH-DES-0300 MINGW64 ~/OneDrive - TECHWAVE/डेस्कटॉप/Fronted (dev)
$ git fetch origin main
From https://github.com/GaneshGondyala/Frontend
 * branch            main       -> FETCH_HEAD
